USE [Reloj]
GO
/****** Object:  User [PC-PC\INVITADO]    Script Date: 16/12/2020 03:18:07 p.m. ******/
CREATE USER [PC-PC\INVITADO] FOR LOGIN [PC-PC\INVITADO] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Carrito]    Script Date: 16/12/2020 03:18:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Carrito](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cuenta] [varchar](30) NULL,
	[idproducto] [int] NULL,
	[idimagen] [int] NULL,
	[cantidad] [numeric](10, 2) NULL,
	[fecha] [date] NULL,
 CONSTRAINT [PK__Carrito__3213E83F398D8EEE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 16/12/2020 03:18:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categoria](
	[idCategoria] [int] IDENTITY(10,1) NOT NULL,
	[descripcion] [varchar](max) NULL,
 CONSTRAINT [PK__Categori__8A3D240C03317E3D] PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 16/12/2020 03:18:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Compra](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cuenta] [varchar](30) NOT NULL,
	[monto] [numeric](10, 2) NULL,
	[fecha] [date] NULL,
	[hora] [varchar](10) NULL,
	[estado] [varchar](max) NULL,
	[fecha_despacho] [date] NULL,
 CONSTRAINT [PK__Compra__3213E83F07020F21] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Detalle_Compra]    Script Date: 16/12/2020 03:18:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Detalle_Compra](
	[cuenta] [varchar](30) NULL,
	[id_producto] [int] NULL,
	[cantidad] [numeric](10, 2) NULL,
	[precio] [numeric](10, 2) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
UPDATE STATISTICS [dbo].[Detalle_Compra] WITH ROWCOUNT = 12, PAGECOUNT = 1
GO
/****** Object:  Table [dbo].[imagen]    Script Date: 16/12/2020 03:18:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[imagen](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_producto] [int] NULL,
	[imagen] [varchar](max) NULL,
	[idcolor] [int] NULL,
 CONSTRAINT [PK__imagen__3213E83F1DE57479] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 16/12/2020 03:18:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Productos](
	[id] [int] IDENTITY(10000,1) NOT NULL,
	[nombre] [varchar](max) NULL,
	[descripcion] [varchar](max) NULL,
	[imagen] [varchar](max) NULL,
	[precio] [numeric](10, 2) NULL,
	[idCategoria] [int] NULL,
	[ubicacion] [varchar](max) NULL,
	[nota] [varchar](max) NULL,
 CONSTRAINT [PK__Producto__3213E83F0BC6C43E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 16/12/2020 03:18:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[UserName] [varchar](30) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[Status] [int] NULL,
	[Perfil] [int] NULL,
	[Nombre] [varchar](max) NULL,
	[WhatsApp] [varchar](max) NULL,
	[Telefono] [varchar](max) NULL,
	[Direccion] [varchar](max) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[busca_articulos]    Script Date: 16/12/2020 03:18:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create view [dbo].[busca_articulos]
 as
 select top 1000 Id, Nombre,descripcion as Descripcion,precio from Productos order by Nombre
GO
/****** Object:  View [dbo].[busca_usuario]    Script Date: 16/12/2020 03:18:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create view [dbo].[busca_usuario]
 as
 select top 1000 Id, Nombre,Telefono,WhatsApp,Direccion from Usuarios order by Nombre
GO
/****** Object:  View [dbo].[Buscar_Categoria]    Script Date: 16/12/2020 03:18:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[Buscar_Categoria]
 AS 
  select TOP 1000 *from Categoria where descripcion != 'Sin Categoria' order by descripcion
GO
SET IDENTITY_INSERT [dbo].[Carrito] ON 

INSERT [dbo].[Carrito] ([id], [cuenta], [idproducto], [idimagen], [cantidad], [fecha]) VALUES (16, N'', 10000, 2, CAST(1.00 AS Numeric(10, 2)), CAST(N'2021-04-02' AS Date))
SET IDENTITY_INSERT [dbo].[Carrito] OFF
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([idCategoria], [descripcion]) VALUES (10, N'Sin Color')
INSERT [dbo].[Categoria] ([idCategoria], [descripcion]) VALUES (11, N'Blanco')
INSERT [dbo].[Categoria] ([idCategoria], [descripcion]) VALUES (12, N'Negro')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
SET IDENTITY_INSERT [dbo].[Compra] ON 

INSERT [dbo].[Compra] ([id], [cuenta], [monto], [fecha], [hora], [estado], [fecha_despacho]) VALUES (1, N'luis', CAST(2640.00 AS Numeric(10, 2)), CAST(N'2021-01-01' AS Date), N'  1:55PM', N'Despachado', CAST(N'2021-01-01' AS Date))
INSERT [dbo].[Compra] ([id], [cuenta], [monto], [fecha], [hora], [estado], [fecha_despacho]) VALUES (2, N'luis', CAST(1325.00 AS Numeric(10, 2)), CAST(N'2021-02-11' AS Date), N'  1:56PM', N'Despachado', CAST(N'2021-02-11' AS Date))
INSERT [dbo].[Compra] ([id], [cuenta], [monto], [fecha], [hora], [estado], [fecha_despacho]) VALUES (3, N'luis', CAST(4345.00 AS Numeric(10, 2)), CAST(N'2021-03-04' AS Date), N'  2:00PM', N'Despachado', CAST(N'2021-03-04' AS Date))
SET IDENTITY_INSERT [dbo].[Compra] OFF
INSERT [dbo].[Detalle_Compra] ([cuenta], [id_producto], [cantidad], [precio]) VALUES (N'luis', 10003, CAST(1.00 AS Numeric(10, 2)), CAST(945.00 AS Numeric(10, 2)))
INSERT [dbo].[Detalle_Compra] ([cuenta], [id_producto], [cantidad], [precio]) VALUES (N'luis', 10001, CAST(1.00 AS Numeric(10, 2)), CAST(945.00 AS Numeric(10, 2)))
INSERT [dbo].[Detalle_Compra] ([cuenta], [id_producto], [cantidad], [precio]) VALUES (N'luis', 10000, CAST(1.00 AS Numeric(10, 2)), CAST(750.00 AS Numeric(10, 2)))
SET IDENTITY_INSERT [dbo].[imagen] ON 

INSERT [dbo].[imagen] ([id], [id_producto], [imagen], [idcolor]) VALUES (1, 10000, N'https://ae01.alicdn.com/kf/H70201cfc19f84c119f9630c4e884ba47W/Zegarek-Damski-Reloj-de-lujo-para-Mujer-oro-rosa-correa-de-cuero-de-moda-para-Mujer.jpg_Q90.jpg_.webp', 11)
INSERT [dbo].[imagen] ([id], [id_producto], [imagen], [idcolor]) VALUES (2, 10000, N'https://ae01.alicdn.com/kf/H3694d91c87b74de189413566cf4981d0y/Zegarek-Damski-Reloj-de-lujo-para-Mujer-oro-rosa-correa-de-cuero-de-moda-para-Mujer.jpg_Q90.jpg_.webp', 12)
INSERT [dbo].[imagen] ([id], [id_producto], [imagen], [idcolor]) VALUES (3, 10000, N'https://ae01.alicdn.com/kf/Hd316f0be5c7344d6ac8a230f3d6e0fa1x/Zegarek-Damski-Reloj-de-lujo-para-Mujer-oro-rosa-correa-de-cuero-de-moda-para-Mujer.jpg_Q90.jpg_.webp', 13)
SET IDENTITY_INSERT [dbo].[imagen] OFF
SET IDENTITY_INSERT [dbo].[Productos] ON 

SET IDENTITY_INSERT [dbo].[Productos] OFF
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([ID], [UserName], [Password], [Status], [Perfil], [Nombre], [WhatsApp], [Telefono], [Direccion]) VALUES (1002, N'antony', N'123123', 1, 1, N'Antony Vazquez', N'8098524048', N'8095816667', N'la cienaga villa emilia numero 89')
INSERT [dbo].[Usuarios] ([ID], [UserName], [Password], [Status], [Perfil], [Nombre], [WhatsApp], [Telefono], [Direccion]) VALUES (1001, N'Jimenez', N'123123', 1, 1, N'Juan Jose Diaz', N'8095555555', N'8095816666', N'las colinas calle ')
INSERT [dbo].[Usuarios] ([ID], [UserName], [Password], [Status], [Perfil], [Nombre], [WhatsApp], [Telefono], [Direccion]) VALUES (1003, N'luis', N'123456', 1, 1, N'Luis Alberto', N'8090000000', N'8291111111', N'Santiago')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
/****** Object:  StoredProcedure [dbo].[AgregarCarrito]    Script Date: 16/12/2020 03:18:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[AgregarCarrito]
@cuenta varchar(max),
@idproducto int,
@cantidad numeric(10,2)
as
if not exists(select idproducto from Carrito where cuenta = @cuenta and idproducto = @idproducto)
 insert into Carrito values(@cuenta,@idproducto,@cantidad,getdate())
 else
 begin
 declare @cant numeric(10,2)
 select  @cant = cantidad from Carrito where cuenta = @cuenta and idproducto = @idproducto
 update Carrito set cantidad = @cant + @cantidad, fecha = getdate() where cuenta = @cuenta and idproducto = @idproducto
 end
GO
/****** Object:  StoredProcedure [dbo].[AgregarCarrito2]    Script Date: 16/12/2020 03:18:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[AgregarCarrito2]
@cuenta varchar(max),
@idproducto int,
@idimagen int,
@cantidad numeric(10,2)
as
if not exists(select idproducto,idimagen from Carrito where cuenta = @cuenta and idproducto = @idproducto and idimagen = @idimagen)
 insert into Carrito values(@cuenta,@idproducto,@idimagen,@cantidad,getdate())
 else
 begin
 declare @cant numeric(10,2)
 select  @cant = cantidad from Carrito where cuenta = @cuenta and idproducto = @idproducto
 update Carrito set cantidad = @cant + @cantidad, fecha = getdate() where cuenta = @cuenta and idproducto = @idproducto and idimagen = @idimagen
 end
GO
/****** Object:  StoredProcedure [dbo].[AgregarProductos]    Script Date: 16/12/2020 03:18:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[AgregarProductos]
@codigo varchar(max),
@nombre varchar(max),
@descripcion varchar(max),
@imagen varchar(max),
@precio numeric(10,2),
@idcategoria int,
@ubicacion varchar(max),
@nota varchar(max)
as
if @codigo = 'N'
insert into Productos values(@nombre,@descripcion,@imagen,@precio,@idCategoria,@ubicacion,@nota)
else
update Productos set nombre = @nombre, descripcion = @descripcion, precio = @precio,imagen = @imagen,idCategoria=@idCategoria,ubicacion = @ubicacion, nota = @nota where id = @codigo
GO
/****** Object:  StoredProcedure [dbo].[AgregarUsuarios]    Script Date: 16/12/2020 03:18:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[AgregarUsuarios]
@Tipo int,
@UserName varchar(max),
@Password varchar(max),
@Nombre varchar(max),
@WhatsApp varchar(max),
@Telefono varchar(max),
@Direccion varchar(max)
as
if @Tipo = 0
insert into Usuarios values(@UserName,@Password,1,1,@Nombre ,@WhatsApp,@Telefono,@Direccion)
else if @Tipo = 1
update Usuarios set Nombre = @Nombre, WhatsApp = @WhatsApp, Telefono = @Telefono, Direccion =@Direccion where UserName = @UserName
GO
/****** Object:  StoredProcedure [dbo].[buscaventas]    Script Date: 16/12/2020 03:18:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[buscaventas]
@desde date, @hasta date
as
select *,(select sum(monto) from compra as monto where estado = 'Despachado' and fecha_despacho Between @desde And @hasta)
 from compra where estado = 'Despachado' and fecha_despacho Between @desde And @hasta 


GO
/****** Object:  StoredProcedure [dbo].[ConsultarProductos]    Script Date: 16/12/2020 03:18:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ConsultarProductos]
as
select *from Productos
GO
/****** Object:  StoredProcedure [dbo].[grafica]    Script Date: 16/12/2020 03:18:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[grafica]
@ano int
as
 SELECT MONTH(fecha_despacho) AS Mes,
 SUM(monto) AS Total		
FROM compra where YEAR(fecha_despacho) = @ano
GROUP BY month(fecha_despacho)
GO
/****** Object:  StoredProcedure [dbo].[inserta_compra]    Script Date: 16/12/2020 03:18:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[inserta_compra]
	@cuenta varchar(max),
	@monto numeric(10,2)
	as
	declare @hora varchar(10)SELECT  distinct @hora = RIGHT( CONVERT(DATETIME, SYSDATETIME(), 108),8)
		insert into Compra values(@cuenta,@monto,GETDATE(),@hora,'Pendiente','')
GO
/****** Object:  StoredProcedure [dbo].[inserta_detalle_compra]    Script Date: 16/12/2020 03:18:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[inserta_detalle_compra]
		@cuenta varchar(max),
		@id_producto int,
		@cantidad numeric(10,2),
		@precio numeric(10,2)
		AS
		insert into detalle_compra values(
		@cuenta,
		@id_producto,
		@cantidad,
		@precio
		)
GO
/****** Object:  Trigger [dbo].[inserta_detalles_compra]    Script Date: 16/12/2020 03:18:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[inserta_detalles_compra]
ON [dbo].[Compra] FOR INSERT 
AS
	declare	@cuenta varchar(max)

SET @cuenta = (SELECT cuenta FROM Inserted)
insert Into Detalle_Compra select c.cuenta,c.idproducto,c.cantidad,p.precio From Carrito c inner join Productos p 
on c.idproducto = p.id Where cuenta = @cuenta

delete from Carrito  Where cuenta = @cuenta
GO
ALTER TABLE [dbo].[Compra] ENABLE TRIGGER [inserta_detalles_compra]
GO
/****** Object:  Trigger [dbo].[act_imagen]    Script Date: 16/12/2020 03:18:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[act_imagen]
ON [dbo].[Productos] 
FOR update 
AS
DECLARE @IdUsuario INT
DECLARE @url varchar(max)
DECLARE @Idcolor INT

SET @IdUsuario = (SELECT id FROM inserted )
SET @url = (SELECT imagen FROM inserted )
SET @Idcolor = (SELECT idCategoria FROM inserted)
insert into imagen values(@IdUsuario,@url,@Idcolor)
GO
ALTER TABLE [dbo].[Productos] ENABLE TRIGGER [act_imagen]
GO
/****** Object:  Trigger [dbo].[ins_imagen]    Script Date: 16/12/2020 03:18:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[ins_imagen]
ON [dbo].[Productos] 
FOR insert 
AS
DECLARE @IdUsuario INT
DECLARE @url varchar(max)
DECLARE @Idcolor INT

SET @IdUsuario = (SELECT id FROM inserted)
SET @url = (SELECT imagen FROM inserted)
SET @Idcolor = (SELECT idCategoria FROM inserted)
insert into imagen values(@IdUsuario,@url,@Idcolor)
GO
ALTER TABLE [dbo].[Productos] ENABLE TRIGGER [ins_imagen]
GO
/****** Object:  Statistic [_WA_Sys_00000002_37A5467C]    Script Date: 16/12/2020 03:18:07 p.m. ******/
CREATE STATISTICS [_WA_Sys_00000002_37A5467C] ON [dbo].[Carrito]([cuenta]) WITH STATS_STREAM = 0x01000000010000000000000000000000F634EBF3000000001302000000000000D301000000000000A702FFFFA70000001E0000000000000008D000340000000007000000957FAD008EAC000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000C0400000803F000000000000C04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000025000000000000005F0000000000000067000000000000000800000000000000300010000000803F000000000000803F04000001001D00616E746F6E79FF010000000000000001000000010000002800000028000000000000000000000006000000616E746F6E790200000040000000000106000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_37A5467C]    Script Date: 16/12/2020 03:18:07 p.m. ******/
CREATE STATISTICS [_WA_Sys_00000003_37A5467C] ON [dbo].[Carrito]([idproducto]) WITH STATS_STREAM = 0x0100000001000000000000000000000030B50BA200000000CB010000000000008B0100000000000038025F003800000004000A0000000000000000000000000007000000947FAD008EAC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F102700000400000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_37A5467C]    Script Date: 16/12/2020 03:18:07 p.m. ******/
CREATE STATISTICS [_WA_Sys_00000004_37A5467C] ON [dbo].[Carrito]([idimagen]) WITH STATS_STREAM = 0x01000000010000000000000000000000AEA3F79500000000CB010000000000008B0100000000000038025F003800000004000A00000000000000000000000000070000008421B0008EAC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F030000000400000100000000000000
GO
/****** Object:  Statistic [PK__Carrito__3213E83F398D8EEE]    Script Date: 16/12/2020 03:18:07 p.m. ******/
UPDATE STATISTICS [dbo].[Carrito]([PK__Carrito__3213E83F398D8EEE]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 1, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_014935CB]    Script Date: 16/12/2020 03:18:07 p.m. ******/
CREATE STATISTICS [_WA_Sys_00000002_014935CB] ON [dbo].[Categoria]([descripcion]) WITH STATS_STREAM = 0x010000000100000000000000000000006E1E821F000000001F03000000000000DF02000000000000A7020000A7000000FFFF00000000000008D000342700000007000000C410EF0060AC00000600000000000000060000000000000000000000ABAA2A3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006000000060000000100000010000000ABAA02410000C04000000000ABAA0241000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000EB000000000000006B0100000000000073010000000000003000000000000000570000000000000072000000000000008C00000000000000AB00000000000000C700000000000000300010000000803F000000000000803F04000001002700416365726F20496E6F78696461626C65300010000000803F000000000000803F04000001001B00476F6D61300010000000803F000000000000803F04000001001A004F726F300010000000803F000000000000803F04000001001F00506C61737469636F300010000000803F000000000000803F04000001001C00506C617461300010000000803F000000000000803F0400000100240053696E2043617465676F726961FF01000000000000000600000006000000280000002800000000000000000000002E000000416365726F20496E6F78696461626C65476F6D614F726F506C61737469636F746153696E2043617465676F726961080000004000000000811000000081041000008103140000C00317000081051A000001021F0000010D210000000600000000000000
GO
/****** Object:  Statistic [PK__Categori__8A3D240C03317E3D]    Script Date: 16/12/2020 03:18:07 p.m. ******/
UPDATE STATISTICS [dbo].[Categoria]([PK__Categori__8A3D240C03317E3D]) WITH STATS_STREAM = 0x010000000100000000000000000000000C6BE745000000002802000000000000E8010000000000003803F7823800000004000A000000000000000000000000000700000083E41F0176AC0000060000000000000006000000000000000000803FABAA2A3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000014000000000080400000C04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000007C000000000000008400000000000000200000000000000037000000000000004E000000000000006500000000000000100014000000803F000000000000803F0A000000040000100014000000803F0000803F0000803F0C000000040000100014000000803F0000803F0000803F0E000000040000100014000000803F000000000000803F0F0000000400000600000000000000, ROWCOUNT = 8, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_0519C6AF]    Script Date: 16/12/2020 03:18:07 p.m. ******/
CREATE STATISTICS [_WA_Sys_00000002_0519C6AF] ON [dbo].[Compra]([cuenta]) WITH STATS_STREAM = 0x010000000100000000000000000000005FE9AD43000000006D020000000000002D02000000000000A7030000A70000001E0000000000000008D000340000000007000000ED9DA7008DAC00000400000000000000040000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000100000000000B04000008040000000000000B0400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000006C00000000000000B900000000000000C100000000000000180000000000000035000000000000005300000000000000300010000000803F000000000000803F04000001001D00616E746F6E793000100000000040000000000000803F04000001001E004A696D656E657A300010000000803F000000000000803F040000010019007334FF01000000000000000400000003000000280000002800000000000000000000000F000000616E746F6E794A696D656E657A73340400000040000000008106000000820706000001020D0000000400000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_0519C6AF]    Script Date: 16/12/2020 03:18:07 p.m. ******/
CREATE STATISTICS [_WA_Sys_00000004_0519C6AF] ON [dbo].[Compra]([fecha]) WITH STATS_STREAM = 0x01000000010000000000000000000000EFAFC48D00000000E801000000000000A8010000000000002802F7822800000003000A00000000000000000000000072070000004CEA150192AC000003000000000000000300000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000013000000000040400000404000000000000040400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003C000000000000004400000000000000100000000000000026000000000000001000130000000040000000000000803FE9410B040000100013000000803F000000000000803FEA410B0400000300000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_0519C6AF]    Script Date: 16/12/2020 03:18:07 p.m. ******/
CREATE STATISTICS [_WA_Sys_00000006_0519C6AF] ON [dbo].[Compra]([estado]) WITH STATS_STREAM = 0x01000000010000000000000000000000207479C3000000001902000000000000D901000000000000A7020000A7000000FFFF00000000000008D0003400000000070000004462D4008EAC000002000000000000000200000000000000000000000000803F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000001000000010000001000000000001041000000400000000000001041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000280000000000000065000000000000006D0000000000000008000000000000003000100000000040000000000000803F0400000100200050656E6469656E7465FF01000000000000000200000001000000280000002800000000000000000000000900000050656E6469656E74650200000040000000000209000000000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_0519C6AF]    Script Date: 16/12/2020 03:18:07 p.m. ******/
CREATE STATISTICS [_WA_Sys_00000007_0519C6AF] ON [dbo].[Compra]([fecha_despacho]) WITH STATS_STREAM = 0x0100000001000000000000000000000090DE298000000000E801000000000000A8010000000000002802F7822800000003000A000000000000000000000000000700000007B7A2008FAC000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000013000000000040400000004000000000000040400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003C00000000000000440000000000000010000000000000002600000000000000100013000000803F000000000000803F5B950A040000100013000000803F000000000000803FE9410B0400000200000000000000
GO
/****** Object:  Statistic [PK__Compra__3213E83F07020F21]    Script Date: 16/12/2020 03:18:07 p.m. ******/
UPDATE STATISTICS [dbo].[Compra]([PK__Compra__3213E83F07020F21]) WITH STATS_STREAM = 0x0100000001000000000000000000000032E5F6B500000000EA01000000000000AA010000000000003803F7823800000004000A0000000000000000000000000007000000BE8CD5008EAC000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000803F000000000000803F0E000000040000100014000000803F000000000000803F0F0000000400000200000000000000, ROWCOUNT = 6, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_1BFD2C07]    Script Date: 16/12/2020 03:18:07 p.m. ******/
CREATE STATISTICS [_WA_Sys_00000002_1BFD2C07] ON [dbo].[imagen]([id_producto]) WITH STATS_STREAM = 0x01000000010000000000000000000000611A9BDF00000000CB010000000000008B01000000000000380200003800000004000A00000000000000000000000000070000002F95C90060AC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F102700000400000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_1BFD2C07]    Script Date: 16/12/2020 03:18:07 p.m. ******/
CREATE STATISTICS [_WA_Sys_00000004_1BFD2C07] ON [dbo].[imagen]([idcolor]) WITH STATS_STREAM = 0x010000000100000000000000000000007A14C726000000000902000000000000C901000000000000380200003800000004000A00000000000000000000000000070000005E7DF0008DAC0000040000000000000004000000000000000000803F0000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000804000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000005D00000000000000650000000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F0B000000040000100014000000803F0000803F0000803F0D000000040000100014000000803F000000000000803F0E0000000400000400000000000000
GO
/****** Object:  Statistic [PK__imagen__3213E83F1DE57479]    Script Date: 16/12/2020 03:18:07 p.m. ******/
UPDATE STATISTICS [dbo].[imagen]([PK__imagen__3213E83F1DE57479]) WITH STATS_STREAM = 0x0100000001000000000000000000000078E5053A00000000CB010000000000008B01000000000000380300003800000004000A00000000000000000000000000070000004129C80060AC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 12, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_09DE7BCC]    Script Date: 16/12/2020 03:18:07 p.m. ******/
CREATE STATISTICS [_WA_Sys_00000002_09DE7BCC] ON [dbo].[Productos]([nombre]) WITH STATS_STREAM = 0x0100000001000000000000000000000049AD57E400000000A1020000000000006102000000000000A7020000A7000000FFFF00000000000008D000340000000007000000E9149B0060AC000003000000000000000300000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000ABAA0A410000404000000000ABAA0A4100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001B0000000000000000000000000000004D000000000000009500000000000000E500000000000000ED00000000000000100000000000000032000000000000003000100000000040000000000000803F040000010022004172726F7A2050696E636F300010000000803F000000000000803F04000001001B006D61697AFF01000000000000000300000002000000280000002800000000000000000000000F0000004172726F7A2050696E636F6D61697A030000004000000000820B00000001040B0000000100000060A99A005EAC00000000000000001040040000000000000003000000000000605555D53F0000000000000000000000000000000000000000000004C0000000000000F8BFE23C3C2790DDD03F0300000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_09DE7BCC]    Script Date: 16/12/2020 03:18:07 p.m. ******/
CREATE STATISTICS [_WA_Sys_00000003_09DE7BCC] ON [dbo].[Productos]([descripcion]) WITH STATS_STREAM = 0x01000000010000000000000000000000E6C887EF0000000097020000000000005702000000000000A7020000A7000000FFFF00000000000008D00034A7000000070000005E0E9B0060AC000003000000000000000300000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000A04000004040000000000000A04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001B00000000000000000000000000000048000000000000008B00000000000000DB00000000000000E30000000000000010000000000000002C00000000000000300010000000803F000000000000803F04000001001C0064756C63653000100000000040000000000000803F04000001001C004C69627261FF01000000000000000300000002000000280000002800000000000000000000000A00000064756C63654C696272610300000040000000008105000000020505000000010000005B0B9A005EAC00000000000000001040040000000000000002000000000000000000E03F0000000000000000000000000000000000000000000004C0000000000000F8BF555555555555C53F0300000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_09DE7BCC]    Script Date: 16/12/2020 03:18:07 p.m. ******/
CREATE STATISTICS [_WA_Sys_00000006_09DE7BCC] ON [dbo].[Productos]([idCategoria]) WITH STATS_STREAM = 0x0100000001000000000000000000000029B1555900000000EA01000000000000AA01000000000000380200003800000004000A0000000000000000007F0000000700000083E41F0176AC000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000803F000000000000803F0A000000040000100014000000803F000000000000803F0B0000000400000200000000000000
GO
/****** Object:  Statistic [PK__Producto__3213E83F0BC6C43E]    Script Date: 16/12/2020 03:18:07 p.m. ******/
UPDATE STATISTICS [dbo].[Productos]([PK__Producto__3213E83F0BC6C43E]) WITH STATS_STREAM = 0x01000000010000000000000000000000B4AA49EE0000000061020000000000002102000000000000380300003800000004000A000000000000000000000000000700000044FD9A0060AC00000300000000000000030000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190000000000000000000000000000005D00000000000000AD00000000000000B50000000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F3F270000040000100014000000803F000000000000803F44270000040000100014000000803F000000000000803F4727000004000001000000F7AF9A005EAC00000000000000001040040000000000000004000000000000000000D03F0000000000000000000000000000000000000000000004C0000000000000F8BF000000000000D03F0300000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000001_300424B4]    Script Date: 16/12/2020 03:18:07 p.m. ******/
CREATE STATISTICS [_WA_Sys_00000001_300424B4] ON [dbo].[Usuarios]([ID]) WITH STATS_STREAM = 0x01000000010000000000000000000000489A871C00000000EA01000000000000AA01000000000000380313003800000004000A0000000000000000000000000007000000776AB70093AC0000030000000000000003000000000000000000803FABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000803F000000000000803FE8030000040000100014000000803F0000803F0000803FEA0300000400000300000000000000
GO
/****** Object:  Statistic [PK_Usuarios]    Script Date: 16/12/2020 03:18:07 p.m. ******/
UPDATE STATISTICS [dbo].[Usuarios]([PK_Usuarios]) WITH STATS_STREAM = 0x01000000010000000000000000000000B20113970000000047020000000000000702000000000000A7030000A70000001E0000000000000008D0003400000000070000004AF61E0176AC0000030000000000000003000000000000000000803FABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000A04000004040000000000000A040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000460000000000000093000000000000009B0000000000000010000000000000002D00000000000000300010000000803F000000000000803F04000001001D00616E746F6E79300010000000803F0000803F0000803F040000010019007334FF01000000000000000300000003000000280000002800000000000000000000000F000000616E746F6E794A696D656E657A73340400000040000000008106000000810706000001020D0000000300000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
